.header {
  display: flex;
  justify-content: flex-start;
  margin-top: 0;
  height: 50px;
  box-shadow: 0 0 3px 0;
}

.header-element {
  /* border: 1px solid black; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 25px;
}

.nav-bar-text {
  color: #FD9F26;
}

.nav-bar-text:hover {
  border-bottom: 3px solid #d82b42;
  margin-bottom: -3px;
  border-left: none;
  border-right: none;
}

@media (max-width: 1000px) {
  .header {
    font-size: 0.8em;
  }
}