@import url('https://fonts.googleapis.com/css2?family=Carlito:wght@700&display=swap');/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

/* Width: 1920px */
/* Heigth: 1080px */

.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 500px;
  height: 150px;
  margin-left: 50vw;
  /* margin-left: calc(100vw - 500px - 350px); */
  margin-top: 40vh;
}

.home-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.home-section h2 {
  font-size: 2.5em;
  font-family: 'Carlito', sans-serif;
}

.orange {
  color: #FD9F26;
}

.btn-container {
  margin-top: 15px;
}

.btn-container button {
  background-color: #FD9F26;
  width: 150px;
  height: 3em;
  margin-right: 15px;
}

.btn-container button:hover {
  border: 0.5px solid black;
  color: white;
}

/* @media (max-width: 1440px) {
  .home-page-container {
    margin-left: calc(100vw - 500px - 250px);
  }
} */

@media (max-width: 1000px) {
  .home-page-container {
    align-items: center;
    width: 100vw;
    height: 120px;
    margin-left: 0;
    margin-top: 40vh;
  }
  .home-section {
    width: 100%;
    margin-left: 50%;
  }
  .home-section h2 {
    font-size: 1.5em;
    font-family: 'Carlito', sans-serif;
  }
  .btn-container button {
    width: 100px;
  }
}