.recipes-container {
  width: 100vw;
  height: calc(100vh - 50px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.category-container {
  overflow-y: auto;
  align-items: flex-start;
  width: 100%;
}

.category-item {
  width: 95%;
  margin: 10px 10px;
}

.category-item h2 {
  font-size: 1.5em;
  margin-left: 5px;
}

.category-item hr {
  border: 1px solid #FD9F26;
  border-radius: 10px;
}