.sign-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  height: calc(100vh - 50px);
}

.sign-in-content {
  border: 1px solid black;
  border-radius: 5%;
  margin-top: 250px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  padding: 50px;
  display: flex;
  flex-direction: column;
  border: 1px;
}

.form input {
  margin: 5px;
  height: 1.8em;
  padding-left: 5px;
}